/src/api/.phpunit.cache
/src/api/node_modules
/src/api/public/build
/src/api/public/hot
/src/api/public/storage
/src/api/storage/*.key
/src/api/vendor
/src/api/.env.production
/src/api/.phpunit.result.cache
/src/api/Homestead.json
/src/api/Homestead.yaml
/src/api/auth.json
/src/api/npm-debug.log
/src/api/yarn-error.log
/src/api/.fleet
/src/api/.idea
/src/api/.vscode


/src/frontend/node_modules
/src/frontend/